body
{

}

#container
{
    background-color: cien;
    width:760px;
    height:auto;
    margin:auto;

}
#menu
{
    width:760px;
    height:50px;

}
#menu a
{text-decoration: none;
    width:84px;
    float:left;
    height: 0px;
    padding: 50px 0 0 0;
    background-repeat: no repeat;
    transition: background-position 1s;
}
#menu a[data-attribute="about"]
{
    width: 95px;
    background: url("img/meniu/about.gif") no-repeat;

}
#menu a[data-attribute="portfolio"]
{
    width: 95px;
    background: url("img/meniu/portfolio.gif") no-repeat;
}

#menu a[data-attribute="services"]
{
    width: 95px;
    background: url("img/meniu/services.gif") no-repeat ;
    transition: background-position 1s;
}

#menu a[data-attribute="contact"]
{
    width: 95px;
    background: url("img/meniu/contact.gif") no-repeat ;
}
#menu a.selected
{
    background-position: 0px -100px;
}
#menu a:hover
{
    background-position: 0px -100px !important;
}

header
{
    width: 760px;
    height: 150px;
    background: url("img/banner-curs.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
}
header div
{
    width:200px;
    position:absolute;
    bottom: 20px; right: 15px;
}
#content
{
    background-color: green;
    float: left;
    width:480px;
    height: auto;

}
#sidebar
{
    background-color:hotpink;
    float: right;
    width:280px;

}

#sb1
{
    box-shadow: 10px 10px 5px #888888;
}

#sb2
{
    box-shadow: 10px 10px 5px #888888;
}

footer
{
    background-color: aqua;
    heigh:66px;
    width:760px;
    clear:both;
}
#logo
{
    position:fixed;
}
p
{margin-left: 20px;
text-align: justify
}

@media
(max-width: 60px)
{
    #container
    {
        display:none;
    }
    #no-phone-support
    {
        display: none;
    }
}
@media print
{
    header,
    #menu
    {
        display:none;
    }
    #content
    {
        width: 100;
    }
    #sidebar
    {
        display: none;
    }

}
#no-phone-support
{
    display: none;
}
#content
{

}

@font-face
{
    font-family: delicious;
    src: url("");
}
